//Top from input design
.inputForm {
    input {
        @include inbude;
        margin-bottom: 4px;
        &:focus {
            border: 2px solid $purple;
        }
    }
    button {
        @include inbude;
        cursor: pointer;
    }
    textarea {
        @include inbude;
        height: 5em;
        &:focus {
            border: 2px solid $purple;
        }
    }
}

.button-comment {
    @include inbude;
    width: inherit !important;
    margin-left: 0.25em;
}
